
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}


body {
    font-size: 14px;
    line-height: 21px;
    color: black;
    min-width: 1200px;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}


.sprite {
    background-image: url(../img/decor/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-_-_ {
    width: 42px;
    height: 17px;
    background-position: -10px -10px;
}

.sprite-_-_-_ {
    width: 65px;
    height: 17px;
    background-position: -10px -47px;
}

.sprite-_-_-_-_ {
    width: 89px;
    height: 17px;
    background-position: -10px -84px;
}

.sprite-calendar_navedenie {
    width: 21px;
    height: 22px;
    background-position: -10px -121px;
}

.sprite-calendar_nazhatie {
    width: 21px;
    height: 22px;
    background-position: -10px -163px;
}

.sprite-calendar_pokoi {
    width: 21px;
    height: 22px;
    background-position: -10px -205px;
}

.sprite-check {
    width: 26px;
    height: 22px;
    background-position: -10px -247px;
}

.sprite-check_block {
    width: 26px;
    height: 22px;
    background-position: -10px -289px;
}

.sprite-down-pokoi {
    width: 11px;
    height: 10px;
    background-position: -10px -331px;
}

.sprite-down_navedenie {
    width: 11px;
    height: 10px;
    background-position: -10px -361px;
}

.sprite-down_nazhatie {
    width: 11px;
    height: 10px;
    background-position: -10px -391px;
}

.sprite-f_nazhatie {
    width: 10px;
    height: 19px;
    background-position: -10px -421px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -10px -460px;
}

.sprite-food {
    width: 74px;
    height: 70px;
    background-position: -10px -499px;
}

.sprite-home {
    width: 75px;
    height: 72px;
    background-position: -10px -589px;
}

.sprite-kvadrat {
    width: 22px;
    height: 22px;
    background-position: -10px -681px;
}

.sprite-kvadrat_block {
    width: 22px;
    height: 22px;
    background-position: -10px -723px;
}

.sprite-logo {
    width: 138px;
    height: 70px;
    background-position: -10px -765px;
}

.sprite-logo-html {
    width: 113px;
    height: 39px;
    background-position: -10px -855px;
}

.sprite-logo_html_navedenie {
    width: 113px;
    height: 39px;
    background-position: -10px -914px;
}

.sprite-logo_html_nazhatie {
    width: 113px;
    height: 39px;
    background-position: -10px -973px;
}

.sprite-minus_navedenie {
    width: 12px;
    height: 3px;
    background-position: -10px -1032px;
}

.sprite-minus_nazhatie {
    width: 12px;
    height: 3px;
    background-position: -10px -1055px;
}

.sprite-minus_pokoi {
    width: 12px;
    height: 3px;
    background-position: -10px -1078px;
}

.sprite-plus_navedenie {
    width: 11px;
    height: 11px;
    background-position: -10px -1101px;
}

.sprite-plus_nazhatie {
    width: 11px;
    height: 11px;
    background-position: -10px -1132px;
}

.sprite-plus_pokoi {
    width: 11px;
    height: 11px;
    background-position: -10px -1163px;
}

.sprite-point_black {
    width: 4px;
    height: 5px;
    background-position: -10px -1194px;
}

.sprite-point_grey {
    width: 4px;
    height: 5px;
    background-position: -10px -1219px;
}

.sprite-souvenirs {
    width: 64px;
    height: 76px;
    background-position: -10px -1244px;
}

.sprite-tw_nazhatie {
    width: 17px;
    height: 15px;
    background-position: -10px -1340px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -10px -1375px;
}

.sprite-up-nazhatie {
    width: 11px;
    height: 10px;
    background-position: -10px -1410px;
}

.sprite-up_navedenie {
    width: 11px;
    height: 10px;
    background-position: -10px -1440px;
}

.sprite-up_pokoi {
    width: 11px;
    height: 10px;
    background-position: -10px -1470px;
}

.sprite-you_nazhatie {
    width: 20px;
    height: 16px;
    background-position: -10px -1500px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -10px -1536px;
}


.container {
    width: 1200px;
    background-color: blue;
    margin: auto;
}
.hotels {
    text-align: left;
}
.main-header {
    position: relative;
    width: 1200px;
    min-height: 57px;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    padding-left: 72px;
    padding-right: 72px;
}
.main-navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
   
}
.main-navigation li {
    width: 20%;
    min-height: 57px;
    background-color: white;
    color: black;
    list-style: none;
    padding-top: 16px;
    
}
.main-navigation li:nth-child(1) {
    text-align: left;
    
}
.main-navigation li:nth-child(2) {
    text-align: left;
    margin-right: auto;
    margin-left: 29px;
}
.main-navigation li:nth-child(3) {
    text-align: right;
    margin-right: auto;
    margin-left: 110px;
}
.main-navigation li:nth-child(4) {
    text-align: right;
   
}
.main-navigation a {
    background-color: white;
    color: black;
    text-decoration: none;
   
}
.main-navigation a:hover {
    background-color: white;
    color: #81b3d2;
}
.main-navigation a:active {
    background-color: white;
    color: #cacaca;
}
.main-navigation .active span {
    background-color: white;
    color: #766357;
}

.logo {
    position: absolute;
    width: 138px;
    min-height: 70px;
    left: 531px;
    top: 0;
}
.main-picture {
    width: 1200px;
    height: 508px;
    padding-top: 73px;
    background-image: url(../img/background/SEDONA_BACK.jpg);
    background-color: #467da6;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.info {
    width: 1200px;
    min-height: 217px;
    background-color: white;
    
    }
.info-city {
    padding-top: 65px;
    padding-bottom: 30px;
    
}
.info-name {
    font-size: 21px;
    line-height: 26px;   
}
.info p {
    margin: 0;
    font-size: 14px;
    line-height: 26px; 
    padding-left: 350px;
    padding-right: 350px;
}

 .features-pic {
    display: flex;
     padding: 0;
}


.features-one, .features-two {
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
.features-name {
    display: block;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 27px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 27px;
}
.features-number {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    
}
.features-one p {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    margin-top: 20px;
}

.pictures {
    
    width: 800px;
    min-height: 256px;
    background-color: goldenrod;
    line-height: 0;
    
    
}
.info-tourist {
    display: flex;
    background-color: white;
    color: black;
   
}
.info-tourist-name {
    position: relative;
    width: 400px;
    min-height: 330px; 
    padding-top: 144px;
    padding-left: 164px;
    padding-left: 55px;
    padding-right: 50px;
}
.info-tourist-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    padding: 0;
    
}
.info-tourist-name::before {
    background: transparent url("../img/decor/sprite.png") no-repeat;
  
}
.home::before {
    content: "";
    width: 75px;
    height: 72px;
    position: absolute;
    top: 61px;
    left: 164px;
    background-position: -10px -589px;
}
.food::before {
    content: "";
    width: 74px;
    height: 70px;
    position: absolute;
    top: 61px;
    left: 164px;
     background-position: -10px -499px;
}
.souvenirs::before {
    content: "";
    position: absolute;
    top: 61px;
    left: 164px;
    width: 64px;
    height: 76px;
    background-position: -10px -1244px;
}
    
.info-tourist-name p {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    padding-top: 5px;
}
.features {
    display: flex;
    width: 1200px;
    padding: 0;
    
}
.features-item {
    width: 400px;
    height: 257px;
    background-color: #eeeeee;
    color: #333333;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.features-item p {
    margin-top: 20px;
}

.interest {
    width: 1200px;
    height: 291px;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding-top: 55px;
}
.interest p {
    padding-left: 370px;
    padding-right: 370px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.interest-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    
    padding-left: 452px;
    padding-right: 452px;
}
.interest-search {
    background-color: #766357;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    display:inline-block;
    padding: 30px 140px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 0;
}
.map {
    position: relative;
    min-height: 474px;
    width: 1200px;
    background-image: url(../img/main_pictures/map.jpg);
    background-color: #f2f1ef;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.search {
    position: absolute;
    min-height: 398px;
    width: 576px;
    top: 0px;
    left: 310px;
    background-color: white;
    padding-top: 56px;
    padding-right: 59px;
    padding-bottom: 55px;
    padding-left: 59px;
    
}
/*
form .search-form {
    padding-top: 55px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    display: flex;
   
    
    
}

.search-form-data {
    width: 115px;
    text-align: left;
    
    
}
.search-form-poisk {
    width: 346px;
    padding-left: 168px;
}
.search-form input {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "PT SANS", "Arial", sans-serif;
    background-color: #f2f2f2;
    color:#000000;
    border: none;
    width: 348px;
    height: 35px;
    /*padding-left: 13px;
    padding-right: 54px;
    margin-bottom: 31px;
    margin-left: 18px;
    position: relative;
    display: inline-block;
    
    
}
input .find {
    display: block;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    font-family: "PT SANS", "Arial", sans-serif;
    
}*/
/*.search-form input::after {
    content: "";
    width: 21px;
    height: 22px;
    background: red;
    position: absolute;
    top: 8px;
    left: 317px;

    
}
.search-form input:nth-child(3) {
    max-width: 119px;
    margin: 0;
}
*/
.search-form input:hover {
    background-color: #ebebeb;
    color: black;
    border: none;
}
.search-form input:active {
    background-color: #ffffff;
    color: black;
    border: 2px solid #e5e5e5;
}
.main-footer {
    display: flex;
    flex-basis: 1200px;
     background-color: #f9fbf6;
}
.footer-name {
    width: 400px;
    min-height: 120px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px; 
}
.footer-insta a {
    color: #000000;
    text-decoration: none;
}
.footer-insta {
    padding-left: 133.5px;
    padding-top: 51.5px;
    padding-bottom: 49.5px;
    padding-right: 129.5px;
}
.footer-social {
    text-align: center;
    padding-top: 39px;
    padding-bottom: 35px;
    
      
}
.footer-soc {
    display: inline-block;
    vertical-align: top;
    position:relative;
    width: 46px;
    height: 48px;
    font-size: 0;
    background-color: #81b3d2;
    
}
.footer-soc:hover {
    background-color: #669ec0;
}
.footer-soc:active {
    background-color: #5496bd;
}
.footer-soc::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/decor/sprite.png") no-repeat;
}
.tw::before {
    width: 17px;
    height: 15px;
    background-position: -10px -1375px;
}

.tw:active::before {
    width: 17px;
    height: 15px;
    background-position: -10px -1340px; 
}
.fb::before { 
    width: 10px;
    height: 19px;
    background-position: -10px -460px;
}
.fb:active::before {
     background-position: -10px -421px;
}
.youtube::before { 
    width: 20px;
    height: 16px;
    background-position: -10px -1536px;
}
.youtube:active::before {
    background-position: -10px -1500px
}

.footer-copyright {
    position: relative;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    padding-top: 45px;
    padding-right: 120px;
    
}
.footer-copyright a::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 100px;
    width: 113px;
    height: 39px;
    background: transparent url("../img/decor/sprite.png") no-repeat;
    background-position: -10px -855px;
}
.footer-copyright a:hover::after {
    background-position: -10px -914px;
}
.footer-copyright a:active::after {
    background-position: -10px -973px;
}

.search-hotel {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    width: 1200px;
    min-height: 219px;
    background-image: url(../img/background/background_hotels.jpg);
    background-color: #3a4851;
    background-position: 50% 50%;
    background-repeat: no-repeat;
     padding-top: 30px;
    
}
.search-hotel-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.search-hotel form {
    display: flex;
    flex-basis: 1200px;
}
.structure {
    display: flex;
    flex-direction: column;
    width: 313px;
    padding-left: 75px;
    padding-right: 101px;
   
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+label {
    display: block;
    margin: 16px 0;
    padding-left: 39px;
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background: transparent url("../img/decor/sprite.png") no-repeat;
    background-position: -10px -681px;
}
input[type="checkbox"]:checked+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    
    background: transparent url("../img/decor/sprite.png") no-repeat;
    background-position: -10px -247px;
}
input[type="checkbox"]+label:disabled::before {
    background-position: -10px -723px;
}
input[type="checkbox"]:checked+label:disabled::before {
      background-position: -10px -289px;
}
/*
.structure label {
    padding-top: 25px;
    padding-left: 39px;
}*/
.type-home {
    display: flex;
    flex-direction: column;
    width: 287px;
    padding-left: 15px;
   
}
.search-hotel-cost {
    margin-bottom: 9px;
    font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.cost {
    box-sizing: content-box;
    width: 330px; 
    padding-left: 211px;
    padding-right: 73px;
}
.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    margin-top: 9px;
}
.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    
}
.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  
  padding-left: 67px;
}

.price-controls input {
  width: 50px;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.cost-controls {
    position: relative;
    margin-bottom: 32px;
}
.cost-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.cost-controls .point {
    width: 80%;
    height: 2px;
    background: #ffffff;
    
}
.cost-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.cost-toggle-min {
    left: 0;
}
.cost-toggle-max {
    left: 80%;
}
.cost-toggle:hover {
    background: #1c4f80;
}
.btn-controls {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-controls:hover {
    color: #000000;
    background: #ffffff;
}
.result {
    display: flex;
    margin: 0;
    width: 1200px;
    justify-content: flex-start;
    padding-left: 75px;
    align-items: center;
    min-height: 86px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    background-color: #fefefe;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}
.result h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.result-sort {
    display: flex;
    flex-basis: 909px;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 504px;
    padding-left: 48px;
    
    
}
.result-sort a {
    text-decoration: none;
}
.result-sort-type {
   color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
    
}
.result-sort span.active {
    color: #81b3d2;
    border: none;
}
.result-sort-type:hover {
   color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
    
}
.result-sort-type:active {
   color: #000000;
    border: none;
    
}
.arrows-btn {
    display: block;
     width: 99px;
    align-items: center;
    min-height: 86px;
}
.arrows {
    width: 11px;
    height: 10px;
    background: transparent url("../img/decor/sprite.png") no-repeat;
}
.arrows-down {
   
    background-position: -10px -331px;
        
}
.arrows-up {
   
    background-position: -10px -1470px;
}

.find-hotel {
    width: 1200px;
    
    min-height: 450px;
    background-color: #fefefe;
    border-bottom: 1px solid #e5e5e5;
    
}
.catalog-hotel {
    display: flex;
    flex-basis: 1200px;
    align-items: flex-start;
    min-height: 150px;
  
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 30px;
    
}
.catalog-hotel:last-child {
     border-bottom: 0px solid #e5e5e5;
}
.hotel-picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 209px;
    
   
}

.catalog-hotel-name {
    
    font-size: 14px;
    width: 300px;
    
    padding-left: 32px;
    
}
.hotel-title {
    margin: 0;
    padding-bottom: 7px;
}
.catalog-hotel-name p {
    margin: 0;
    padding-bottom: 18px;
}
.hotel-room {
    display: inline-block;
    width: 115px; 
    padding: 0;
   

}

.cost-room {
    display: inline-block;
    
}
.hotel-room a {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    text-decoration: none;
    width: 111px;
    height: 26px;
    padding: 5px 16px;
    
}
.hotel-room a:hover {
    color: #ffffff;
    background-color: #669ec0;
}
.hotel-room a:active {
    color: #85b0cd;
    background-color: #5496bd;
}
.cost-room a {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    text-decoration: none;
    width: 145px;
    height: 26px;
    padding: 5px 15px;
}
.cost-room a:hover {
    color: #ffffff;
    background-color: #604e43;
}
.cost-room a:active {
    color: #7e7169;
    background-color: #503e33;
}
.hotel-rating {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    width: 705px;
    text-align: right;
    padding-right: 70px;
    padding-top: 65px;
    
}
.hotel-rating span {
    background-color: #f2f2f2;
    color: #666666;
    width: 110px;
    height: 28px;
    padding: 5px 16px;
    
}
.hotel-rating::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 73px;
    background: transparent url("../img/decor/sprite.png") no-repeat;
}
.amara::before {
    width: 89px;
    height: 17px;
    background-position: -10px -84px;
}
.desert::before {
    width: 65px;
    height: 17px;
    background-position: -10px -47px;
    
}
.villas::before {
    width: 42px;
    height: 17px;
    background-position: -10px -10px;
}

.main-footer.hotel{
     background-color: #fefefe;
}
