
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
    font-size: 14px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    font-family: "PTSans", "Arial", sans-serif;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: "PTSans", "Arial", sans-serif;
}
h2 .info-tourist-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;  
}
div .result-sort-title {
    font-size: 12px;
    line-height: 18px;
    color: #81b3d2;
    font-weight: normal;
    font-family: "PTSans", "Arial", sans-serif;
}


.container {
    width: 1200px;
    margin: 0 auto;
    background-color: blue;
    
}
.main-header {
    position: relative;
    width: 1200px;
    min-height: 57px;
    background-color: red;
    
}
.main-navigation ul{
    margin: 0;
    
}

.main-navigation li {
    display: inline-block;
    width: 20%;
    min-height: 57px;
     background-color: red;
}
a .main-left {
    text-align: left;
}
a .main-right {
    text-align: right;
}
.logo {
    position: absolute;
    width: 138px;
    min-height: 70px;
}
.main-picture {
    width: 1200px;
    height: 564px;
}

.info {
    width: 1200px;

    min-height: 217px;
    background-color: white;
    }
.info p {
    margin: 0;
}

.features-one, .features-two {
    float: left;
    width: 400px;
    min-height: 256px;
    background-color: #81b3d2;
    padding: 50px 46px 40px 46px;
}

.pictures1, .pictures2 {
    float: right;
    width: 800px;
    min-height: 256px;
    background-color: goldenrod;
    line-height: 0;
    
    
}

.info-tourist-name {
    float:left;
    width: 400px;
    padding-left: 73px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 84.5px;
    
    
}
.features {
    width: 1200px;
    min-height: 257px;
    
    
}
.features-three, .features-four, .features-five {
    float:left;
    width: 400px;
    min-height: 257px;
    background-color: darkgrey;
    
    
}

.interest {
    width: 1200px;
    height: 291px;
    background-color: white;
}
.map {
    position: relative;
    min-height: 600px;
    width: 1200px;
    background-image: url(../img/main_pictures/map.jpg);
    background-color: #f2f1ef;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.search {
    position: absolute;
height: 398px;
    width: 576px;
    top: 54px;
    right: 58px;
    bottom: 57px;
    left: 54.5px;
}
.main-footer {
    width: 1200px;
    min-height: 126px;
     background-color: white;
}
.footer-insta, .footer-social, .footer-copyright {
    float: left;
    width: 400px;
    min-height: 120px;
   
}
.footer-insta {
    padding-left: 133.5px;
    padding-top: 51.5px;
    padding-bottom: 49.5px;
    padding-right: 129.5px;
}
.footer-social {
    padding-top: 39px;
    padding-right: 125px;
    padding-bottom: 35px;
    padding-left: 124px;
    
}
.footer-copyright {
    padding-top: 41px;
    padding-right: 103px;
    padding-bottom: 40px;
    
    
}
.search-hotel {
    width: 1200px;
    min-height: 219px;
    background-image: url(../img/background/background_hotels.jpg);
    background-color: #3a4851;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.structure {
    float: left;
    width: 313px;
    min-height: 219px;
   
    padding-left: 75px;
    padding-right: 101px;
}
.type-home {
    float: left;
    width: 287px;
    min-height: 219px;
   
    
}
.cost {
    float: right;
    width: 600px;
    min-height: 219px;
    padding-right: 73px;
  
    
}
.result {
    width: 1200px;
    min-height: 86px;
    display: inline-block;
    background-color: indianred;
}
.find-hotel {
    width: 1200px;
    min-height: 450px;
    background-color: orangered;
    border-bottom: 1px solid grey;
    
}
.catalog-hotel {
    width: 1200px;
    min-height: 150px;
    background-color: yellowgreen;
    border-bottom: 1px solid grey;
    
}
.catalog-hotel img {
    float: left;
    width: 135px;
    height: 90px;
    padding-top: 30px;
    padding-left: 73px;
}
.catalog-hotel-name {
    float: left;
    width: 287px;
    
    padding-left: 27.5px;
}
.hotel-rating {
    float: right;
    width: 705px;
    
    padding-right: 73px;
    text-align: right;
}



.info-tourist {
    padding-left: 73px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 84,5px;
}
.info-tourist-home {
    float:left;
    width: 300px;
    margin-right: 59px;
    
}
.info-tourist-food {
    float:left;
    width: 300px;
    margin-right: 59px;
    
}
.info-tourist-souvenirs {
    float:right;
    width: 300px;
}

